

.wrapper{

grid-template-columns: 1fr 3fr 1fr;
grid-template-rows: 1fr 3fr 1fr;
grid-column-gap: 1em;
grid-row-gap: 1em; 
}
.text{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}
.wrapper{
	d
}